<a href="https://colab.research.google.com/github/almedida/car_price_prediction/blob/main/automobile_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [122]:
# Read the data from online on "data_df"

other_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
data_df = pd.read_csv(other_path, header=None)

#save a copy of the data
data_df.to_csv("automobile.csv", index = "FALSE")

In [123]:
#read new downloaded data

df = pd.read_csv("automobile.csv", header = None, sep=",")

df.head()

    0   1    2            3    4    5   ...    21   22    23  24  25     26
0  NaN   0    1            2    3    4  ...  20.0   21    22  23  24     25
1  0.0   3    ?  alfa-romero  gas  std  ...   9.0  111  5000  21  27  13495
2  1.0   3    ?  alfa-romero  gas  std  ...   9.0  111  5000  21  27  16500
3  2.0   1    ?  alfa-romero  gas  std  ...   9.0  154  5000  19  26  16500
4  3.0   2  164         audi  gas  std  ...  10.0  102  5500  24  30  13950

[5 rows x 27 columns]

        0   1    2            3       4      5   ...    21   22    23  24  25     26
0      NaN   0    1            2       3      4  ...  20.0   21    22  23  24     25
1      0.0   3  NaN  alfa-romero     gas    std  ...   9.0  111  5000  21  27  13495
2      1.0   3  NaN  alfa-romero     gas    std  ...   9.0  111  5000  21  27  16500
3      2.0   1  NaN  alfa-romero     gas    std  ...   9.0  154  5000  19  26  16500
4      3.0   2  164         audi     gas    std  ...  10.0  102  5500  24  30  13950
..     ...  ..  ...          ...     ...    ...  ...   ...  ...   ...  ..  ..    ...
201  200.0  -1   95        volvo     gas    std  ...   9.5  114  5400  23  28  16845
202  201.0  -1   95        volvo     gas  turbo  ...   8.7  160  5300  19  25  19045
203  202.0  -1   95        volvo     gas    std  ...   8.8  134  5500  18  23  21485
204  203.0  -1   95        volvo  diesel  turbo  ...  23.0  106  4800  26  27  22470
205  204.0  -1   95        volvo     gas  turbo  ...   9.5  114  5400  19  25  22625

[206 rows x 27 columns]

In [125]:
#delete first column
#del df[0]
df.drop(columns=0, inplace=True)
df.head()

   1    2            3    4    5     6   ...    21   22    23  24  25     26
0   0    1            2    3    4     5  ...  20.0   21    22  23  24     25
1   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  13495
2   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
3   1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
4   2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950

[5 rows x 26 columns]

In [126]:
#create header list

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
#print("headers \n", headers)

In [127]:
df.columns = headers

In [128]:
df.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          0                 1            2  ...       23          24     25
1          3                 ?  alfa-romero  ...       21          27  13495
2          3                 ?  alfa-romero  ...       21          27  16500
3          1                 ?  alfa-romero  ...       19          26  16500
4          2               164         audi  ...       24          30  13950

[5 rows x 26 columns]

In [129]:
#data cleaning/wrangling
#replacing missing values with NaN
df.replace("?", np.NaN, inplace=True)

In [131]:
#df.dropna(subset= ['price'], axis=0)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          0                 1            2  ...       23          24     25
1          3               NaN  alfa-romero  ...       21          27  13495
2          3               NaN  alfa-romero  ...       21          27  16500
3          1               NaN  alfa-romero  ...       19          26  16500
4          2               164         audi  ...       24          30  13950

[5 rows x 26 columns]

In [133]:
#inspect the attribute datatypes
#df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          206 non-null    int64
 1   normalized-losses  165 non-null    object
 2   make               206 non-null    object
 3   fuel-type          206 non-null    object
 4   aspiration         206 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         206 non-null    object
 7   drive-wheels       206 non-null    object
 8   engine-location    206 non-null    object
 9   wheel-base         206 non-null    float64
 10  length             206 non-null    float64
 11  width              206 non-null    float64
 12  height             206 non-null    float64
 13  curb-weight        206 non-null    int64
 14  engine-type        206 non-null    object
 15  num-of-cylinders   206 non-null    object
 16  engine-size        206 non-null    int64
 17  fuel-system        206 non-null    object
 18  bore               202 non-null    object
 19  stroke             202 non-null    object
 20  compression-ratio  206 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           206 non-null    int64
 24  highway-mpg        206 non-null    int64
 25  price              202 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 42.0+ KB

In [ ]:
#convert price to to float data type
df['price'] = pd.to_numeric(df['price'])
df.dtypes

In [136]:
#get the summary statistics
df.describe(include= 'all')

         symboling normalized-losses  ... highway-mpg         price
count   206.000000               165  ...  206.000000    202.000000
unique         NaN                52  ...         NaN           NaN
top            NaN               161  ...         NaN           NaN
freq           NaN                11  ...         NaN           NaN
mean      0.830097               NaN  ...   30.718447  13141.871287
std       1.243625               NaN  ...    6.885712   7981.346718
min      -2.000000               NaN  ...   16.000000     25.000000
25%       0.000000               NaN  ...   25.000000   7775.000000
50%       1.000000               NaN  ...   30.000000  10270.000000
75%       2.000000               NaN  ...   34.000000  16500.000000
max       3.000000               NaN  ...   54.000000  45400.000000

[11 rows x 26 columns]

In [137]:
#evaluate missing data
missing_data = df.isnull()
missing_data.head(5)

   symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0      False              False  False  ...     False        False  False
1      False               True  False  ...     False        False  False
2      False               True  False  ...     False        False  False
3      False               True  False  ...     False        False  False
4      False              False  False  ...     False        False  False

[5 rows x 26 columns]

In [ ]:
#Count missing values in each column
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [143]:
#handle missing values for each column using the means of the respective value
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses: ", avg_norm_loss)

avg_bore = df["bore"].astype("float").mean(axis=0)
print("Average of bore: ", avg_bore)

avg_stroke = df["stroke"].astype("float").mean(axis=0)
print("Average of stroke: ", avg_stroke)

avg_horsepower = df["horsepower"].astype("float").mean(axis=0)
print("Average of horsepower: ", avg_horsepower)

avg_peak_rpm = df["peak-rpm"].astype("float").mean(axis=0)
print("Average of peak-rpm: ", avg_peak_rpm)

Average of normalized-losses:  121.26666666666667
Average of bore:  3.402376237623763
Average of stroke:  3.333366336633658
Average of horsepower:  103.84803921568627
Average of peak-rpm:  5100.35294117647
Average of price:  13141.871287128713

In [149]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)
df["bore"].replace(np.nan, avg_bore, inplace=True)
df["stroke"].replace(np.nan, avg_stroke, inplace=True)
df["horsepower"].replace(np.nan, avg_horsepower, inplace=True)
df["peak-rpm"].replace(np.nan, avg_peak_rpm, inplace=True)

In [145]:
#num-of-doors is string object, so we handle the missing data with highest number of frequency
df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [147]:
#since price is our target variable, in order or avoid inflating the results, 
#we drop the rows having missing values
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index
df.reset_index(drop=True, inplace=True)

In [ ]:
#chect to see if no more missing values
#evaluate missing data
missing_data = df.isnull()
missing_data.head(5)

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
#chect to ensure all variables have the right data types
df.dtypes

In [ ]:
#convert data types
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

df.dtypes

In [155]:
df.head(5)

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          0                  1            2  ...       23          24     25.0
1          3                121  alfa-romero  ...       21          27  13495.0
2          3                121  alfa-romero  ...       21          27  16500.0
3          1                121  alfa-romero  ...       19          26  16500.0
4          2                164         audi  ...       24          30  13950.0

[5 rows x 26 columns]

In [157]:
#length, width and height dont seem to have same units of measurement
#to be safe, we normalize these columns using original_value/max(original_value)

df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

df.head()

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          0                  1            2  ...       23          24     25.0
1          3                121  alfa-romero  ...       21          27  13495.0
2          3                121  alfa-romero  ...       21          27  16500.0
3          1                121  alfa-romero  ...       19          26  16500.0
4          2                164         audi  ...       24          30  13950.0

[5 rows x 26 columns]