<a href="https://colab.research.google.com/github/almedida/car_price_prediction/blob/main/automobile_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [122]:
# Read the data from online on "data_df"

other_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
data_df = pd.read_csv(other_path, header=None)

#save a copy of the data
data_df.to_csv("automobile.csv", index = "FALSE")

In [123]:
#read new downloaded data

df = pd.read_csv("automobile.csv", header = None, sep=",")

df.head()

    0   1    2            3    4    5   ...    21   22    23  24  25     26
0  NaN   0    1            2    3    4  ...  20.0   21    22  23  24     25
1  0.0   3    ?  alfa-romero  gas  std  ...   9.0  111  5000  21  27  13495
2  1.0   3    ?  alfa-romero  gas  std  ...   9.0  111  5000  21  27  16500
3  2.0   1    ?  alfa-romero  gas  std  ...   9.0  154  5000  19  26  16500
4  3.0   2  164         audi  gas  std  ...  10.0  102  5500  24  30  13950

[5 rows x 27 columns]

        0   1    2            3       4      5   ...    21   22    23  24  25     26
0      NaN   0    1            2       3      4  ...  20.0   21    22  23  24     25
1      0.0   3  NaN  alfa-romero     gas    std  ...   9.0  111  5000  21  27  13495
2      1.0   3  NaN  alfa-romero     gas    std  ...   9.0  111  5000  21  27  16500
3      2.0   1  NaN  alfa-romero     gas    std  ...   9.0  154  5000  19  26  16500
4      3.0   2  164         audi     gas    std  ...  10.0  102  5500  24  30  13950
..     ...  ..  ...          ...     ...    ...  ...   ...  ...   ...  ..  ..    ...
201  200.0  -1   95        volvo     gas    std  ...   9.5  114  5400  23  28  16845
202  201.0  -1   95        volvo     gas  turbo  ...   8.7  160  5300  19  25  19045
203  202.0  -1   95        volvo     gas    std  ...   8.8  134  5500  18  23  21485
204  203.0  -1   95        volvo  diesel  turbo  ...  23.0  106  4800  26  27  22470
205  204.0  -1   95        volvo     gas  turbo  ...   9.5  114  5400  19  25  22625

[206 rows x 27 columns]

In [125]:
#delete first column
#del df[0]
df.drop(columns=0, inplace=True)
df.head()

   1    2            3    4    5     6   ...    21   22    23  24  25     26
0   0    1            2    3    4     5  ...  20.0   21    22  23  24     25
1   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  13495
2   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
3   1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
4   2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950

[5 rows x 26 columns]

In [126]:
#create header list

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
#print("headers \n", headers)

In [127]:
df.columns = headers

In [128]:
df.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          0                 1            2  ...       23          24     25
1          3                 ?  alfa-romero  ...       21          27  13495
2          3                 ?  alfa-romero  ...       21          27  16500
3          1                 ?  alfa-romero  ...       19          26  16500
4          2               164         audi  ...       24          30  13950

[5 rows x 26 columns]

In [129]:
#data cleaning/wrangling
#replacing missing values with NaN
df.replace("?", np.NaN, inplace=True)

In [131]:
#df.dropna(subset= ['price'], axis=0)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          0                 1            2  ...       23          24     25
1          3               NaN  alfa-romero  ...       21          27  13495
2          3               NaN  alfa-romero  ...       21          27  16500
3          1               NaN  alfa-romero  ...       19          26  16500
4          2               164         audi  ...       24          30  13950

[5 rows x 26 columns]

In [133]:
#inspect the attribute datatypes
#df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          206 non-null    int64
 1   normalized-losses  165 non-null    object
 2   make               206 non-null    object
 3   fuel-type          206 non-null    object
 4   aspiration         206 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         206 non-null    object
 7   drive-wheels       206 non-null    object
 8   engine-location    206 non-null    object
 9   wheel-base         206 non-null    float64
 10  length             206 non-null    float64
 11  width              206 non-null    float64
 12  height             206 non-null    float64
 13  curb-weight        206 non-null    int64
 14  engine-type        206 non-null    object
 15  num-of-cylinders   206 non-null    object
 16  engine-size        206 non-null    int64
 17  fuel-system        206 non-null    object
 18  bore               202 non-null    object
 19  stroke             202 non-null    object
 20  compression-ratio  206 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           206 non-null    int64
 24  highway-mpg        206 non-null    int64
 25  price              202 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 42.0+ KB

In [ ]:
#convert price to to float data type
df['price'] = pd.to_numeric(df['price'])

In [107]:
#get the summary statistics
df.describe(include= 'all')

AttributeError: ignored